


   <div class="grid-col-12">
     <div class="grid-row">
       <div class="grid-col-3 grid-col--center grid-col--no-margin grid-col--no-padding">

         <hr>
         <h2>ADMIN LOGIN AND PASSWORD REQUIRED</h2>
         <%= link_to("BACK TO LOGIN PAGE ",{:action => 'signup'}) %>)

       </div>
     </div>
   </div>